In [1]:
pwd

'/Users/aashishchilwal/Desktop'

In [3]:
import pandas as pd

df = pd.read_csv('outbreaks.csv')
df.head()

,Year,Month,State,Location,Food,Ingredient,Species,Serotype/Genotype,Status,Illnesses,Hospitalizations,Fatalities
0,1998,January,California,Restaurant,NaN,NaN,NaN,NaN,NaN,20,0.0,0.0
1,1998,January,California,NaN,Custard,NaN,NaN,NaN,NaN,112,0.0,0.0
2,1998,January,California,Restaurant,NaN,NaN,NaN,NaN,NaN,35,0.0,0.0
3,1998,January,California,Restaurant,"Fish, Ahi",NaN,Scombroid toxin,NaN,Confirmed,4,0.0,0.0
4,1998,January,California,Private Home/Residence,"Lasagna, Unspecified; Eggs, Other",NaN,Salmonella enterica,Enteritidis,Confirmed,26,3.0,0.0

In [7]:
print(df.shape)

(19119, 12)

In [6]:
df.count()

Year                 19119
Month                19119
State                19119
Location             16953
Food                 10156
Ingredient            1876
Species              12500
Serotype/Genotype     3907
Status               12500
Illnesses            19119
Hospitalizations     15494
Fatalities           15518
dtype: int64

In [13]:
# Droping all the non existing values.
processed_df = df.dropna(axis=0)
print(processed_df.shape)

(420, 12)

In [22]:
# Replacing strings to numbers

replacement = {"January" : 1, "February":2,"March":3, "April" : 4, "May":5, "June":6,
               "July": 7, "August":8, "September":9,"October":10,"November":11,"December" :12,
               "Confirmed": 1,"Suspected": 0}

processed_df.replace(replacement)

,Year,Month,State,Location,Food,Ingredient,Species,Serotype/Genotype,Status,Illnesses,Hospitalizations,Fatalities
638,1998,6,New York,Private Home/Residence,"Chicken, Unspecified",Chicken,Salmonella enterica,Typhimurium,1,4,3.0,0.0
669,1998,7,Arizona,Restaurant,Chile Rellenos,Egg,Salmonella enterica,Enteritidis,1,58,11.0,0.0
955,1998,9,Maryland,Restaurant,"Multiple Cheeses, Unspecified",Cheese,Norovirus genogroup II,Unknown,1,258,4.0,0.0
1319,1999,1,California,Restaurant,Eggs Benedict,Egg,Salmonella enterica,Enteritidis,1,3,0.0,0.0
1321,1999,1,California,Restaurant,"Chile Relleno, Unspecified; Rice, Yellow",Egg; Egg,Salmonella enterica,Enteritidis,1,31,6.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
19012,2015,11,Tennessee,Restaurant,Hamburger,Ground Beef,"Escherichia coli, Shiga toxin-producing",O157:H7,1,13,0.0,0.0
19014,2015,11,Utah,Catering Service,"Eggs, Scrambled",Egg,Salmonella enterica,Enteritidis,1,3,0.0,0.0
19045,2015,12,Connecticut,Restaurant,Cucumbers,Cucumber,Salmonella enterica,Thompson,1,3,0.0,0.0
19068,2015,12,Michigan,Private Home/Residence,Cake,Frosting/Icing,Norovirus genogroup II,GII_17 Kawasaki (2014),1,73,0.0,0.0
19081,2015,12,Multistate,Private Home/Residence,Powder Meal Replacement,Moringa Leaf Powder,Salmonella enterica,Virchow,1,35,6.0,0.0

In [16]:
processed_df.head()

Year                 420
Month                420
State                420
Location             420
Food                 420
Ingredient           420
Species              420
Serotype/Genotype    420
Status               420
Illnesses            420
Hospitalizations     420
Fatalities           420
dtype: int64

In [23]:
processed_df.count()

Year                 420
Month                420
State                420
Location             420
Food                 420
Ingredient           420
Species              420
Serotype/Genotype    420
Status               420
Illnesses            420
Hospitalizations     420
Fatalities           420
dtype: int64

In [24]:
processed_df.to_csv('Processed_data.csv')